@import "../../app.component.less";

.hvr-imagelist-item {
  position: relative;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  min-height: 130px;
  background: #fff;
  &--selected {
    border: 2px solid #6c757d;
    box-shadow: rgba(0, 0, 0, .4) 4px 4px 4px;
    .hvr-imagelist-item__select-icon {
      transform: rotate(-45deg);
    }
  }
  &__image {
    width: 100%;
  }
  &__actions {
    opacity: 0;
    transition: opacity 0.3s;
    .hvr-imagelist-item:hover & {
      opacity: 1;
    }
  }
  &__remove {
    .hvr-rounded-button;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__replace {
    position: absolute;
    top: 38px;
    right: 0;
  }
  &__download {
    .hvr-rounded-button;
    position: absolute;
    top: 76px;
    right: 0;
  }
  &__state-group {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 8px;
    width: 40px;
    background: #6c757d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .hvr-imagelist-item--selected &,
    .hvr-imagelist-item:hover & {
      opacity: 1;
    }
  }
  &__select {
    height: 40px;
    user-select: none;
    display: block;
    transition: opacity 0.2s;
    cursor: pointer;
    .hvr-imagelist-item:hover &,
    .hvr-imagelist-item--selected & {
      display: block;
    }
  }
  &__publicity {
    height: 40px;
    user-select: none;
    transition: opacity 0.2s;
    cursor: pointer;
  }
  &__publicity-icon {
    .hvr-imagelist-item--public & {
      color: #ffd725;
    }
  }
  &__select-icon {
    transition: transform 0.2s;
  }
  &__static-tags {
    padding: 5px;
  }
  &__static-tag-item {
    margin-right: 5px;
  }
  &__dynamic-tags {
    padding: 2px;
    width: 100%;
  }
}