<div class="hvr-imagelist-item" [ngClass]="{'hvr-imagelist-item--selected': image.selected}">
  <div class="hvr-imagelist-item__actions">
    <span *ngIf="authService.user$ | async" class="hvr-imagelist-item__remove" (click)="removeMe()">
      <i  class="material-icons">delete</i>
    </span>
    <hvr-file-selector
            class="hvr-imagelist-item__replace"
            (fileSelected$)="replaceMe($event)"
            *ngIf="authService.user$ | async"
    ></hvr-file-selector>
    <a
            *ngIf="authService.user$ | async"
            class="hvr-imagelist-item__download"
            [href]="image.url"
            target="_blank"
            download="{{image.originalName}}"
    >
      <i  class="material-icons">archive</i>
    </a>
    <span *ngIf="authService.user$ | async" class="hvr-imagelist-item__open" (click)="openInModal()">
      <i  class="material-icons">open_in_new</i>
    </span>
  </div>

  <img class="hvr-imagelist-item__image" [src]="image.url" (click)="imageClicked()"/>
  <div class="hvr-imagelist-item__static-tags" *ngIf="!(authService.user$ | async) && image.tags.length">
    <span
      class="hvr-imagelist-item__static-tag-item"
      *ngFor="let tag of image.tags"
    >
      #{{tag}}
    </span>
  </div>
  <mat-form-field class="hvr-imagelist-item__dynamic-tags" *ngIf="authService.user$ | async">
    <mat-chip-list #chipList>
      <mat-chip
              *ngFor="let tag of image.tags"
              [selectable]="false"
              [removable]="true"
              (removed)="removeTag(tag)"
              (click)="onTagClicked(tag)"
      >
          {{tag}}
        <mat-icon matChipRemove >cancel</mat-icon>
      </mat-chip>
      <input
        #tagInput
        matInput
        type="text"
        placeholder="Add tag"
        [formControl]="tagFormControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addNewTag($event)"
      >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
      <mat-option *ngFor="let tag of filteredAllTags" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
