<div class="hvr-imagelist">
  <div class="hvr-imagelist__header">
    <hvr-imagelist-header
        [avalaibleTags]="availableTags"
        [selectedImages]="selectedImages"
        (uploadImage$)="fileSelected($event)"
        (clearSelections$)="clearSelection()"
    ></hvr-imagelist-header>
  </div>
  <div class="hvr-imagelist__items">
    <div
        class="hvr-imagelist__items-col"
        [ngClass]="colClass"
        *ngFor="let col of structuredImages"
    >
      <hvr-imagelist-item
              *ngFor="let image of col"
              [image]="image"
              [avalaibleTags]="availableTags"
              (remove$)="removeImage(image)"
              (addNewTag$)="addNewTag($event, image)"
              (addTag$)="addTag($event, image)"
              (removeTag$)="removeTag($event, image)"
              (replace$)="replaceImage($event, image)"
              (toggleImage$)="toggleSelection(image)"
              (tagSelected$)="tagSelected($event)"
              (togglePublicState$)="togglePublicity(image)"
      ></hvr-imagelist-item>
    </div>
  </div>
  <div
    class="hvr-imagelist__load-indicator"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="loadMore($event)"
  ></div>
  <div class="hvr-imagelist__load-rest" *ngIf="restImageCount">
    <span class="hvr-imagelist__load-rest-count">
      still <b>{{restImageCount}}</b> more
    </span>
  </div>
</div>
