<div class="hvr-imagelist">
  <div class="hvr-imagelist__header">
    <hvr-file-selector
        class="hvr-imagelist__add-new-button"
        (fileSelected$)="fileSelected($event)"
        *ngIf="authService.user$ | async"
    ></hvr-file-selector>
    <hvr-imagelist-header
        [avalaibleTags]="availableTags"
    ></hvr-imagelist-header>
  </div>
  <div class="hvr-imagelist__items">
    <div
        class="hvr-imagelist__items-col"
        [ngClass]="colClass"
        *ngFor="let col of structuredImages"
    >
      <hvr-imagelist-item
              *ngFor="let image of col"
              [image]="image"
              [avalaibleTags]="availableTags"
              (remove$)="removeImage(image)"
              (addNewTag$)="addNewTag($event, image)"
              (addTag$)="addTag($event, image)"
              (removeTag$)="removeTag($event, image)"
              (replace$)="replaceImage($event, image)"
      ></hvr-imagelist-item>
    </div>
  </div>
  <div class="hvr-imagelist__load-indicator"></div>
</div>
