@import "../../variables";
@list-header-height: 50px;

.hvr-imagelist {
  background: @main-bg-color;
  &__header {
    position: fixed;
    width: 100%;
    z-index: @header-z-index;
    top: @header-height;
    height: @list-header-height;
    padding: 0 10px;
    background: @main-bg-color;
  }
  &__add-new-button {
    position: absolute;
    right: 0;
    z-index: 1000;
  }
  &__items {
    display: flex;
    margin-top: @list-header-height + @header-height;
  }
  &__items-col {
    padding: 10px;

    &--split-1 {
      width: 100%;
    }
    &--split-2 {
      width: 50%;
    }
    &--split-3 {
      width: 33.3%;
    }
    &--split-4 {
      width: 25%;
    }
    &--split-5 {
      width: 20%;
    }
    &--split-6 {
      width: 16.6%;
    }
  }

  &__load-indicator {
    height: 20px;
    background: red;
  }
}