.hvr-imagelist {
  &__header {

  }
  &__items {
    background: #eee;
    display: flex;
  }
  &__items-col {
    padding: 5px;

    &--split-1 {
      width: 100%;
    }
    &--split-2 {
      width: 50%;
    }
    &--split-3 {
      width: 33.3%;
    }
    &--split-4 {
      width: 25%;
    }
    &--split-5 {
      width: 20%;
    }
    &--split-6 {
      width: 16.6%;
    }
  }
}