.hvr {
  .aut-button {
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
  }
  &__auth-box {
      color: white;
      &:hover {
         color: #333;
      }
  }
  &__auth-login {
    .aut-button;
  }
  &__auth-logout {
    .aut-button;
       display: flex;
       align-items: center;
    }
}

.hvr-rounded-button {
  cursor: pointer;
  color: #333333;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 100%;
  display: flex;
}