<div class="hvr-app">
  <div class="hvr-layout__header">
    <h1 class="hvr-layout__header-title">
      myhovecraftisfullof<sup class="hvr-layout__header-count">{{count}}</sup>eels
    </h1>
    <div class="hvr-layout__auth-box">
      <span
              class="hvr-layout__auth-login"
              *ngIf="!(user$ | async)"
              (click)="logIn()"
      >
          <i class="material-icons md-18">
            account_circle
          </i>
      </span>
      <div
              class="hvr-layout__auth-logout"
              *ngIf="user$ | async"
              (click)="logOut()"
      >
        <span class="hvr-layout__auth-username" >{{userEmail}}</span>
        <i class="material-icons md-18">
          exit_to_app
        </i>
      </div>
    </div>
  </div>
  <hvr-imagelist></hvr-imagelist>
</div>

